// Place all the styles related to the short_urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.urls-title{
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-url{
  margin-top: 15px;
  margin-bottom: 15px;
}

.message-flash{
  margin-top: 15px;
}

.pagination-center .pagination{
  display: block !important;
  margin: 0 auto;
}